//
// Import Helper Files
// --------------------------------------------------;
@import "helper/default";
@import "helper/image";
@import "helper/hamburger";
@import "helper/fix";

html {
  font-size: @font-size-base;
}

body, .body {
  .font-size(1.3, 1.3rem);
}