img.opacity_0 {
  opacity: 0;
}
img.opacity_0.fadeIn {
  opacity: 1;
  -moz-transition: opacity 2s; /* Firefox 4 */
  -webkit-transition: opacity 2s; /* Safari and Chrome */
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* HAMBUREGR */

.hamburger ul.dropdown-menu {
  position: relative;
  min-width: 100%;
  padding: 5px 0;
  margin: 0;
  top: 0;
  background: @gray-dark;
  border: none;
  box-shadow: none;
}

.hamburger ul.dropdown-menu p {
  margin: 0;
}
.hamburger ul.dropdown-menu,
.hamburger ul.dropdown-menu ul {
  padding: 0;
}
.hamburger ul.dropdown-menu li {
  list-style: none;
}

.lvl2-toggle {
  position: absolute;
  width: 42px;
  height: 40px;
  top: 1px;
  right: 0;
  display: inline-block;
  cursor: pointer;
  border-left: 1px solid @gray-base;
}
.hamburger ul.dropdown-menu .glyphicon {
  vertical-align: middle;
  line-height: 40px;
  margin-top: 0;
  height: 40px;
  width: 60px;
  color: #fff;
  text-align: center;
  position: absolute;
  padding-top: 0;
}
.hamburger ul.dropdown-menu li.active.current > .lvl2-toggle {
  border-left: 1px solid @gray-dark;
}
.hamburger ul.dropdown-menu .glyphicon-chevron-down:before {
  content: "\e114";
}
.hamburger ul.dropdown-menu .glyphicon-chevron-up:before,
.hamburger ul.dropdown-menu li.open > .glyphicon-chevron-down:before {
  content: "\e113" !important;
}
.hamburger ul.dropdown-menu .active a:hover, .hamburger ul.dropdown-menu .active a:focus {
  background-color: @gray-darker;
}
.hamburger ul.dropdown-menu li a:hover, .hamburger ul.dropdown-menu li a:focus {
  background-color: @gray-darker;
}

.hamburger ul.dropdown-menu {
  width: 100%;
  min-width: 100%;

}

.hamburger li.active.current > a {
  border-left: solid @brand-primary 5px;
  background: @gray-base;
}

.hamburger ul.dropdown-menu li a {
  border-left: solid transparent 5px;
  padding: 10px 20px;
  color: #fff;
  background-color: transparent;
  display: block;
  border-top: 1px solid @gray-base;
  text-transform: uppercase;
}
.hamburger ul.dropdown-menu li li > a {
  padding-left: 40px;
  border-top: 1px solid @gray-base;
}
.hamburger ul.dropdown-menu li li li > a {
  padding-left: 60px;
  border-top: 1px solid @gray-base;
}
.hamburger ul.dropdown-menu li li li li > a {
  padding-left: 80px;
  border-top: 1px solid @gray-base;
}
.hamburger ul.dropdown-menu li li li li li > a {
  padding-left: 100px;
  border-top: 1px solid @gray-base;
}

.hamburger .nav .open a, .hamburger .nav .open a:hover, .hamburger .nav .open a:focus {
  background-color: @gray-darker;
  border-color: @gray-base;
}

button#hamburger {
  border-color: transparent;
  position: relative;
  float: left;
  margin-right: 15px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: @border-radius-base;
  background: transparent;
}
button#hamburger .icon-bar {
  display: block;
  width: 22px;
  height: 4px;
  border-radius: 1px;
  background: @gray-darker;
  margin-top: 3px;
}
button#hamburger .icon-bar:first-child {
  margin-top: 0;
}
/* / HAMBURGER */