.font-size(@factor, @rem) {
  font-size: (@font-size-base * @factor);
  font-size: @rem;
}

.display(@value) {
  display: @value
}

.visibility(@value) {
  visibility: @value;
}

.text-align(@value) {
  text-align: @value;
}

.position(@value) {
  position: @value;
}

.position_relative {
  .position(relative);
}
.position_absolute {
  .position(absolute);
}
.position_fixed {
  .position(fixed);
}

.margin(@top, @right, @bottom, @left) {
  margin: @top @right @bottom @left;
}

.vertical-align(@align) {
  vertical-align: @align;
}

.display_none {
  .display(none);
}
.visibility_hidden {
  .visibility(hidden);
}
.display_block {
  .display(block);
}
.display_inline-block {
  .display(inline-block);
  @media @media-xs {
    &.visible-xs {
      .display(inline-block) !important;
    }
  }
  @media @media-sm {
    &.visible-sm {
      .display(inline-block) !important;
    }
  }
  @media @media-md {
    &.visible-md {
      .display(inline-block) !important;
    }
  }
  @media @media-lg {
    &.visible-lg {
      .display(inline-block) !important;
    }
  }

}

.display_table {
  .display(table);
  &.width_100 {
    width: 100%;
  }
  &.height_100 {
    height: 100%;
  }
}
.display_table-row {
  .display(table-row);
  width: 100%;
}
.display_table-cell {
  .display(table-cell);
  float:none;
  height: 100%;
}

.vertical-align_top {
  .vertical-align(top);
}
.vertical-align_middle {
  .vertical-align(middle);
}
.vertical-align_bottom {
  .vertical-align(bottom);
}


.text-align_left {
  .text-align(left);
}
.text-align_center {
  .text-align(center);
}
.text-align_right {
  .text-align(right);
}

.position_relative {
  .position(relative);
}
.position_absolute {
  .position(absolute);
}

@mediaquery-safe: 100px;
@mediaquery-image-height-factor-safe: (3/4);

@mediaquery-xs-min: 480px;


// sm ---------------------------------------------------
// x
@mediaquery-sm-min: 768px;
// y :9
@mediaquery-y-sm-min: (@mediaquery-sm-min * (9/16));
@mediaquery-safe-y-sm-min: (@mediaquery-sm-min * (9/16) - @mediaquery-safe);
// mediaqueries
@mediaquery-sm: ~"only screen and (min-width: @{mediaquery-sm-min})";
@mediaquery-safe-sm-landscape: ~"only screen and (min-width: @{mediaquery-sm-min}) and (min-height: @{mediaquery-safe-y-sm-min})";
@mediaquery-sm-landscape: ~"only screen and (min-width: @{mediaquery-sm-min}) and (min-height: @{mediaquery-y-sm-min})";


// md ---------------------------------------------------
// x
@mediaquery-md-min: 992px;
// y :9
@mediaquery-y-md-min: (@mediaquery-md-min * (9/16));
@mediaquery-safe-y-md-min: (@mediaquery-md-min * (9/16) - @mediaquery-safe);
// mediaqueries
@mediaquery-md: ~"only screen and (min-width: @{mediaquery-md-min})";
@mediaquery-safe-md-landscape: ~"only screen and (min-width: @{mediaquery-md-min}) and (min-height: @{mediaquery-safe-y-md-min})";
@mediaquery-md-landscape: ~"only screen and (min-width: @{mediaquery-md-min}) and (min-height: @{mediaquery-y-md-min})";


// lg ---------------------------------------------------
// x
@mediaquery-lg-min: 1200px;
// y :9
@mediaquery-y-lg-min: (@mediaquery-x-lg-min * (9/16));
@mediaquery-safe-y-lg-min: (@mediaquery-x-lg-min * (9/16) - @mediaquery-safe);
// mediaqueries
@mediaquery-lg: ~"only screen and (min-width: @{mediaquery-lg-min})";
@mediaquery-safe-lg-landscape: ~"only screen and (min-width: @{mediaquery-lg-min}) and (min-height: @{mediaquery-safe-y-lg-min})";
@mediaquery-lg-landscape: ~"only screen and (min-width: @{mediaquery-lg-min}) and (min-height: @{mediaquery-y-lg-min})";
//@mediaquery-lg-portrait: ~"only screen and (min-height: @{mediaquery-lg-min}) and (min-width: @{mediaquery-y-lg-min})";


// x lg ---------------------------------------------------
// x
@mediaquery-x-lg-min: 1280px;
//y
@mediaquery-y-x-lg-min: (@mediaquery-x-lg-min * (9/16));
@mediaquery-safe-y-x-lg-min: (@mediaquery-x-lg-min * (9/16) - @mediaquery-safe);
// mediaqueries
@mediaquery-x-lg: ~"only screen and (min-width: @{mediaquery-x-lg-min})";
@mediaquery-safe-x-lg-landscape: ~"only screen and (min-width: @{mediaquery-x-lg-min}) and (min-height: @{mediaquery-safe-y-x-lg-min})";
@mediaquery-x-lg-landscape: ~"only screen and (min-width: @{mediaquery-x-lg-min}) and (min-height: @{mediaquery-y-x-lg-min})";
//@mediaquery-x-lg-portrait: ~"only screen and (min-height: @{mediaquery-x-lg-min}) and (min-width: @{mediaquery-y-x-lg-min})";


// xl lg ---------------------------------------------------
// x
@mediaquery-xl-lg-min: 1920px;
//y
@mediaquery-y-xl-lg-min: (@mediaquery-xl-lg-min * (9/16));
@mediaquery-safe-y-xl-lg-min: (@mediaquery-xl-lg-min * (9/16) - @mediaquery-safe);
// mediaqueries
@mediaquery-xl-lg: ~"only screen and (min-width: @{mediaquery-xl-lg-min})";
@mediaquery-safe-xl-lg-landscape: ~"only screen and (min-width: @{mediaquery-xl-lg-min}) and (min-height: @{mediaquery-safe-y-xl-lg-min})";
@mediaquery-xl-lg-landscape: ~"only screen and (min-width: @{mediaquery-xl-lg-min}) and (min-height: @{mediaquery-y-xl-lg-min})";
//@mediaquery-xl-lg-portrait: ~"only screen and (min-height: @{mediaquery-xl-lg-min}) and (min-width: @{mediaquery-y-xl-lg-min})";


// xxl lg ---------------------------------------------------
// x
@mediaquery-xxl-lg-min: 2560px;
//y
@mediaquery-y-xxl-lg-min: (@mediaquery-xxl-lg-min * (9/16));
@mediaquery-safe-y-xxl-lg-min: (@mediaquery-xxl-lg-min * (9/16) - @mediaquery-safe);
// mediaqueries
@mediaquery-xxl-lg: ~"only screen and (min-width: @{mediaquery-xxl-lg-min})";
@mediaquery-safe-xxl-lg-landscape: ~"only screen and (min-width: @{mediaquery-xxl-lg-min}) and (min-height: @{mediaquery-safe-y-xxl-lg-min})";
@mediaquery-xxl-lg-landscape: ~"only screen and (min-width: @{mediaquery-xxl-lg-min}) and (min-height: @{mediaquery-y-xxl-lg-min})";
//@mediaquery-xxl-lg-portrait: ~"only screen and (min-height: @{mediaquery-xxl-lg-min}) and (min-width: @{mediaquery-y-xxl-lg-min})";

@media-xxxxs:    ~"only screen and (max-width: 319px)";
@media-xxxs:    ~"only screen and (max-width: 379px)";
@media-xxs:    ~"only screen and (max-width: 479px)";
@media-xs:    ~"only screen and (max-width: 767px)";
@media-sm:    ~"only screen and (min-width: 768px)";
@media-md:   ~"only screen and (min-width: 992px)";
@media-lg:   ~"only screen and (min-width: 1200px)";

