img.opacity_0 {
  opacity: 0.05;
}

img.opacity_0.fadeIn {
  opacity: 1;
  -moz-transition: opacity 2s; /* Firefox 4 */
  -webkit-transition: opacity 2s; /* Safari and Chrome */
  -o-transition: opacity 2s;
  -ms-transition: opacity 2s;
  transition: opacity 2s;
}

.jumbotron {
  position: relative;
}

.image {
  display: block;
  line-height: 1.55
}

.image>img, .image a>img {
  display: block;
  max-width: 100%;
  height: auto
}

@media (max-width:767px) {
  .image>img, .image a>img {
    margin: 0 auto
  }
}

.image .caption {
  padding: 9px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0
}

.image-row {
  margin-left: -15px;
  margin-right: -15px
}

.image-column {
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width:992px) {
  .image-column {
    float: left
  }
}

.image-wrap {
  max-width: 100%
}

.image-below .image-wrap {
  margin-top: 24px
}

.image-center .image>img {
  margin: 0 auto
}

.image-center-outer {
  width: 100%;
  position: relative;
  float: right;
  right: 50%
}

.image-center-inner {
  width: 100%;
  position: relative;
  float: right;
  right: -50%
}

.image-left .image-wrap {
  float: left
}

.image-left .text {
  clear: left
}

.image-right .image-wrap {
  float: right
}

.image-right .text {
  clear: right
}

.image-wrap:before, .image-below:before, .image-above:before, .image-beside:before, .image-intext:before, .image-wrap:after, .image-below:after, .image-above:after, .image-beside:after, .image-intext:after {
  content: " ";
  display: table
}

.image-wrap:after, .image-below:after, .image-above:after, .image-beside:after, .image-intext:after {
  clear: both
}

.image-wrap:before, .image-below:before, .image-above:before, .image-beside:before, .image-intext:before, .image-wrap:after, .image-below:after, .image-above:after, .image-beside:after, .image-intext:after {
  content: " ";
  display: table
}

.image-wrap:after, .image-below:after, .image-above:after, .image-beside:after, .image-intext:after {
  clear: both
}

.image-beside-left .image-wrap, .image-intext-left .image-wrap {
  float: left;
  margin-left: -15px
}

.image-beside-right .image-wrap, .image-intext-right .image-wrap {
  float: right;
  margin-right: -15px
}

.image-beside-left .image-wrap, .image-beside-right .image-wrap, .image-intext-left .image-wrap, .image-intext-right .image-wrap {
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px
}

.image-beside-right, .image-beside-left {
  overflow: hidden;
  zoom: 1
}

.image-beside-right .text, .image-beside-left .text {
  overflow: hidden;
  zoom: 1
}

@media (max-width:767px) {
  .image-beside-right .image-wrap, .image-beside-left .image-wrap {
    margin-left: -15px;
    margin-right: -15px;
    max-width: none;
    float: none
  }
}

.image-header-1 .image-wrap, .image-header-2 .image-wrap, .image-header-3 .image-wrap {
  margin-top: 24px
}

.image-header-4 .image-wrap, .image-header-5 .image-wrap, .image-header-6 .image-wrap {
  margin-top: 12px
}

.csc-textpic-caption-c {
  text-align: center
}

.csc-textpic-caption-l {
  text-align: left
}

.csc-textpic-caption-r {
  text-align: right
}

//@media (max-width: 767px) {
//  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
//    .image-center-outer,
//    .image-center-inner {
//      width: 768px;
//    }
//  }
//}

// 9 * 100% / 16
// http://maddesigns.de/responsive-images-lazy-loading-2151.html
figure.image,
.c16to9 {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
}
@media (min-width: 1200px) {
  .c16to9 {
  // 10 * 100% / 21
  // http://maddesigns.de/responsive-images-lazy-loading-2151.html
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 47.62%;
  width: 100%;
  }
}
figure.image,
.focuspoint {
  background: #fafafa;
}

// Focuspoint
// 9 * 100 / 16
.focuspoint {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 380px) {
// 10 * 100 / 21
  .focuspoint {
    padding-bottom: 80%;
  }
}
@media (min-width: 480px) {
// 10 * 100 / 21
  .focuspoint {
    padding-bottom: 70%;
  }
}
@media (min-width: 768px) {
// 10 * 100 / 21
  .focuspoint {
    padding-bottom: 56.25%;
  }
}
@media (min-width: 1200px) {
  // 10 * 100 / 21
  .focuspoint {
    padding-bottom: 47.62%;
  }
}
@media (min-width: 1440px) {
  // 9 * 100 / 21
  .focuspoint {
    padding-bottom: 42.86%;
  }
}
.focuspoint img,
.focuspoint canvas {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;

  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
}

.focuspoint.blend img {
  visibility: hidden;
}

.image-wrap {
  overflow: hidden;
}

